# Xcode
#
build/
DerivedData/
*.xcworkspace
*.xccheckout
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Swift Package Manager
#
.swiftpm/
.build/

# User settings
#
xcuserdata/

# Others
#
*.log
*.swp
*.lock

